
<h2>Eventos</h2>
<hr>
<div class="row g-3 mr-1 mb-2">


    <div class="col-auto">
      <input
      [(ngModel)]="filtroLista"
      type="text" class="form-control ml-2" placeholder="filtrar...">
    </div>


</div>
<table class="table table-stripped">
  <thead class="table-dark">
    <tr>
      <th> <button type="button" class="btn btn-outline-light btn-sm"(click)="alterarImagem()">{{mostrarImagens ? "Ocultar": "Exibir"}}</button></th>
      <th><span class="position-top-menos-3">#</span></th>
      <th><span class="position-top-menos-3" >Tema</span></th>
      <th><span class="position-top-menos-3">Local</span></th>
      <th><span class="position-top-menos-3">Data</span></th>
     <th><span class="position-top-menos-3">Qtd Pessoa </span></th>
      <th><span class="position-top-menos-3">Lote </span></th>
      <th><span class="position-top-menos-3">Opcões </span></th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length; else eventoVazio" >
    <tr  *ngFor="let evento of eventosFiltrados">
      <th >
        <img
            [collapse]="!mostrarImagens"
            [isAnimated]="true"
            src="../../assets/image/{{evento.imagemURL}}"
            [style.width.px] = "widthImg"
            [style.margin.px] = "marginImg"

          />
       </th>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtPessoas}}</td>
      <td>{{evento.lote}} </td>
      <td>
        <button class="estilizar-icone"><i class="fas fa-pencil " ></i></button>
        <button class="estilizar-icone"><i class="fas fa-trash"></i></button>
      </td>

    </tr>

  </tbody>
  <ng-template #eventoVazio>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
</ng-template>

</table>

